{% extends "base.html" %}
{% block menu_list %}
    <form class="form-inline" action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label>动作:</label>
          <select class="form-control" name="actionType">
              {% if 'search' in actionType %}
                    <option value="search" selected="selected">查询</option>
              {% else %}
                    <option value="search" >查询</option>
              {% endif %}

              {% if 'delete' in actionType %}
                    <option value="delete"  selected="selected">删除</option>
              {% else %}
                    <option value="delete" >删除</option>
              {% endif %}

              {% if 'update' in actionType %}
                    <option value="update"  selected="selected" >更改</option>
              {% else %}
                    <option value="update" >更改</option>
              {% endif %}

              {% if 'add' in actionType %}
                    <option value="add" selected="selected" >增加</option>
              {% else %}
                    <option value="add" >增加</option>
              {% endif %}
          </select>
      </div>
      <div class="form-group">
        <label>类型:</label>
          <select class="form-control" name="rulesType">
              {% if 'subject' in selectType %}
                    <option selected="selected">Subject</option>
                    <option>Body</option>
              {% else %}
                    <option>Subject</option>
                    <option selected="selected">Body</option>
              {% endif %}
          </select>
      </div>
      <div class="form-group">
        <label>关键词:</label>
        <input type="text" class="form-control" name="exampleInputkeyword" id="exampleInputkeyword" placeholder="关键词" value="{{ exampleInputkeyword }}">
      </div>
      <div class="form-group">
        <label>分值:</label>
        <input type="text" class="form-control" name="exampleInputNumber" id="exampleInputNumber" placeholder="分值" value="{{ exampleInputNumber }}">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    {% if errormessage %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% for err_msg in errormessage %}
                    <strong>Warning!</strong> {{ err_msg }}.<br/>
                {% endfor %}
        </div>
    {% endif %}


  <div class="panel panel-default">
  <!-- Default panel contents -->
        <div class="panel-heading">Chinese_Rules.cf</div>

  <!-- Table -->
      <table class="table table-hover" >
        <!--<caption>百度用户经验列表</caption>-->
        <thead>
           <tr>
              <th>序列</th>
              <th>类型</th>
              <th>关键词</th>
              <th>分值</th>
           </tr>
        </thead>
            <tbody>
            {% if 'search' in actionType and not errormessage %}
                {% if returnlist %}
                    <tr>
                        <td>{{ 1 }}</td>
                        <td>{{ returnlist.0 }}</td>
                        <td>{{ returnlist.1 }}</td>
                        <td>{{ returnlist.2 }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>类型: <b>{{ selectType }}</b>  没有关键词 <b>{{ exampleInputkeyword }}</b>!!!请确定关键词是否正确!!!</td>
                    </tr>
                {% endif %}
            {% endif %}

            {% if 'delete' in actionType and not errormessage %}
                {% if returnlist %}
                    {% for rules_one in returnlist %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ rules_one.0 }}</td>
                            <td>{{ rules_one.1 }}</td>
                            <td>{{ rules_one.2 }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>类型: <b>{{ selectType }}</b>  没有关键词 <b>{{ exampleInputkeyword }}</b>!!!请确定关键词是否正确!!!</td>
                    </tr>
                {% endif %}
            {% endif %}

            {% if 'update' in actionType and not errormessage %}
                {% if returnlist %}
                    {% for rules_one in returnlist %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ rules_one.0 }}</td>
                            <td>{{ rules_one.1 }}</td>
                            <td>{{ rules_one.2 }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>类型: <b>{{ selectType }}</b>  没有关键词 <b>{{ exampleInputkeyword }}</b>!!!请确定关键词是否正确!!!</td>
                    </tr>
                {% endif %}
            {% endif %}

            {% if 'add' in actionType and not errormessage %}
                {% if returnlist %}
                    {% for rules_one in returnlist %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ rules_one.0 }}</td>
                            <td>{{ rules_one.1 }}</td>
                            <td>{{ rules_one.2 }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>类型: <b>{{ selectType }}</b>  关键词 <b>{{ exampleInputkeyword }}</b> 已经存在!!! !!!请确定关键词是否正确!!!</td>
                    </tr>
                {% endif %}
            {% endif %}
            {% if not actionType and not errormessage %}
                {% for rules_one in returnlist %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ rules_one.0 }}</td>
                        <td>{{ rules_one.1 }}</td>
                        <td>{{ rules_one.2 }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                {% if errormessage and returnlist %}
                    {% for rules_one in returnlist %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ rules_one.0 }}</td>
                            <td>{{ rules_one.1 }}</td>
                            <td>{{ rules_one.2 }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}

            </tbody>
      </table>
</div>
    <a href="/testtxt">测试txt</a>
{% endblock %}