elif oldmailServer==newmailServer and oldemailAddress==newemailAddress:
                allmessage="Old email address is the same with the new email address !!!"
                return render_to_response('qy_email.html',{'typeList':t_list,
													   'inputoldmailserver':request.REQUEST.get('inputoldmailserver',''),
													   'inputoldemail':request.REQUEST.get('inputoldemail',''),
													   'inputoldpassword':request.REQUEST.get('inputoldpassword',''),
													   'inputnewmailserver':request.REQUEST.get('inputnewmailserver',''),
													   'inputnewemail':request.REQUEST.get('inputnewemail',''),
													   'inputnewpassword':request.REQUEST.get('inputnewpassword',''),
													   'allmessage':allmessage,
													   'oldmessage':oldmessage,
													   'newmessage':newmessage,
													   'olderrors':olderrors,
													   'newerrors':newerrors
			},context_instance=RequestContext(request))