{% extends "base.html" %}
{% block menu_list %}
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        {% if allmessage %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> {{ allmessage }}.<br/>
            </div>
        {% endif %}

        <div class="row-fluid">
            <div class="span5" style="margin-left: 15px;">
                {% if olderrors %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {% for error in olderrors %}
                            <strong>Warning!</strong> {{ error }}.<br/>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if oldmessage %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {% for message in oldmessage %}
                            <strong>Warning!</strong> {{ message }}.<br/>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="page-header" style="margin: 40px 0 20px 20px;" >
                    <h2>From Email</h2>
                </div>
                <div class="form-group">
                    <label for="inputoldmailserver" class="col-sm-3 control-label">EmailServer:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="inputoldmailserver" id="inputoldmailserver" placeholder="EmailServer" value="{{ inputoldmailserver }}">
                    </div>
                </div>
                <div class="form-group">
                   <label for="inputoldemail" class="col-sm-3 control-label">Email:</label>
                   <div class="col-sm-8">
                     <input type="email" class="form-control" name="inputoldemail" id="inputoldemail" placeholder="Email" value="{{ inputoldemail }}">
                   </div>
                </div>
                <div class="form-group">
                   <label for="inputoldpassword" class="col-sm-3 control-label">Password:</label>
                   <div class="col-sm-8">
                     <input type="password" class="form-control" name="inputoldpassword" id="inputoldpassword" placeholder="Password" value="{{ inputoldpassword }}">
                   </div>
                </div>
                <div class="form-group">
                   <div class="col-sm-offset-3 col-sm-10">
                     <div class="checkbox">
                       <label>
                         <input type="checkbox" name="oldssl"> SSL
                       </label>
                     </div>
                   </div>
                </div>
            </div>


            <div class="span5">
                {% if newerrors %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {% for error in newerrors %}
                            <strong>Warning!</strong> {{ error }}.<br/>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if newmessage %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {% for message in newmessage %}
                            <strong>Warning!</strong> {{ message }}.<br/>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="page-header" style="margin: 40px 0 20px 20px;" >
                    <h2>To  Email</h2>
                </div>
                <div class="form-group">
                    <label for="inputnewmailserver" class="col-sm-3 control-label">EmailServer:</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="inputnewmailserver" id="inputnewmailserver" placeholder="EmailServer" value="{{ inputnewmailserver }}">
                    </div>
                </div>
                <div class="form-group">
                   <label for="inputnewemail" class="col-sm-3 control-label">Email:</label>
                   <div class="col-sm-8">
                     <input type="email" class="form-control" name="inputnewemail" id="inputnewemail" placeholder="Email" value="{{ inputnewemail }}">
                   </div>
                </div>
                <div class="form-group">
                   <label for="inputnewpassword" class="col-sm-3 control-label">Password:</label>
                   <div class="col-sm-8">
                     <input type="password" class="form-control" name="inputnewpassword" id="inputnewpassword" placeholder="Password" value="{{ inputnewpassword }}">
                   </div>
                </div>
                <div class="form-group">
                   <div class="col-sm-offset-3 col-sm-10">
                     <div class="checkbox">
                       <label>
                         <input type="checkbox" name="newssl"> SSL
                       </label>
                     </div>
                   </div>
                </div>

            </div>
        </div>
        <div>
            <br/>
            <hr/>
            <br/>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-10">
              <button type="submit" class="btn btn-default">迁移邮件</button>
            </div>
        </div>
    </form>


        <!--{% if errors %}-->
            <!--<div class="alert alert-warning alert-dismissible" role="alert">-->
                <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <!--{% for error in errors %}-->
                    <!--<strong>Warning!</strong> {{ error }}.<br/>-->
                <!--{% endfor %}-->
            <!--</div>-->
        <!--{% endif %}-->
        <!--{% if message %}-->
            <!--{% ifequal message 'TRUE' %}-->
                <!--{{ message }}-->
            <!--{% else %}-->
                <!--<div class="alert alert-warning alert-dismissible" role="alert">-->
                    <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                    <!--<strong>Warning!</strong> {{ message }}.<br/>-->
                <!--</div>-->
            <!--{% endifequal %}-->
        <!--{% endif %}-->

        <!--<div class="page-header" >-->
              <!--<h2>需要被迁移的邮箱地址</h2>-->
        <!--</div>-->
        <!--<form class="form-horizontal" action="" method="post">-->
                  <!--{% csrf_token %}-->
                  <!--<div class="form-group">-->
                        <!--<label for="inputEmail3" class="col-sm-2 control-label">IMAP 服务器：</label>-->
                            <!--<div class="col-sm-5">-->
                                <!--<input type="text" class="form-control" id="inputMailServer3" placeholder="MailServer" name="inputMailServer3" value="{{ inputMailServer3 }}">-->
                            <!--</div>-->
                          <!--<p id="tsoldmailserver"></p>-->
                  <!--</div>-->

                  <!--<div class="form-group">-->
                        <!--<label for="inputEmail3" class="col-sm-2 control-label">邮箱地址：</label>-->
                            <!--<div class="col-sm-5">-->
                                <!--<input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="inputEmail3" value="{{ inputEmail3 }}">-->
                            <!--</div>-->
                  <!--</div>-->

                  <!--<div class="form-group">-->
                        <!--<label for="inputPassword3" class="col-sm-2 control-label">密码： </label>-->
                        <!--<div class="col-sm-5">-->
                            <!--<input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="inputPassword3" value="{{ inputPassword3 }}">-->
                        <!--</div>-->
                  <!--</div>-->


                  <!--<div class="form-group">-->
                        <!--<div class="col-sm-offset-2 col-sm-5">-->
                            <!--<input type="checkbox" name="ssl"> SSL-->
                            <!--<button type="submit" class="btn btn-default" id="testOldMail" >检测邮箱</button>-->
                        <!--</div>-->
                  <!--</div>-->

            <!--</form>-->
        <!--<hr>-->

{% endblock %}